<form action="/create" method="POST">
  <h2>Добавить результат</h2>

  <div class="input-field">
    <input type="text" name="reference">
  </div>

  <button type="submit" class="btn">Добавить</button>
</form>